# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. Julia
    3. R

1.Some of the commonly used libraries used by Data Scientists include:
    
    1.Pandas
    2.NumPy
    3.Seaborn

|Data Science Tools|
|------------------|
|MongoDB|
|TensorFlow|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

-List popular languages for Data Science
    
    *Python
    *Julia
    *R

## Author
    Atalay E.